body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  cursor: none !important; 
}

.plane-trail {
  position: absolute;
  pointer-events: none;
  z-index: 10000;
}

.smoke {
  position: absolute;
  width: 30px; 
  height: 30px;
  background-color: rgba(78, 76, 76, 0.8); 
  border-radius: 50%;
  animation: fadeOut 1s both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(30px, 30px);
  }
}
